<header>

</header>
<aside class="sidebar">
    <div class="logo"><img src="images/alderaan.png" alt=""></div>
    <hr>
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/posts/create" class="single-menu-element-link">
                    Create Post
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">
                    Logout
                </a>
            <li class="single-menu-element">
                <a href="#/chat" class="single-menu-element-link">
                    Chat
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/about" class="single-menu-element-link">
                    About us
                </a>
            </li>
            </li>
        </ul>

        <hr>
    </nav>
</aside>
<main class="main-content">
    
</main>