<header id="about-books" class="about-books">
</header>
<html lang="en">
<header class="blog-title">
    <h3>THE BOOKS</h3>
</header>
<head>
    <meta charset="UTF-8">
    <title>THE BOOKS</title>
</head>

<p>&nbsp;</p>
<p>A Song of Ice and Fire is a series of epic fantasy novels by the American novelist and screenwriter George R. R. Martin. The first volume of the series, A Game of Thrones, was begun in 1991 and first published in 1996. Martin, who initially envisioned the series as a trilogy, has published five out of a planned seven volumes. The fifth and most recent volume of the series published in 2011, A Dance with Dragons, took Martin five years to write. The sixth novel, The Winds of Winter, is still being written.</p>
<p>&nbsp;</p>
<img src="images/books1.jpg" alt="Game of Thrones" height="400" width="900">
<p>&nbsp;</p>
<p>A Song of Ice and Fire takes place on the fictional continents Westeros and Essos. The point of view of each chapter in the story is a limited perspective of a range of characters growing from nine, in the first novel, to thirty-one by the fifth. Three main stories interweave a dynastic war among several families for control of Westeros, the rising threat of the supernatural Others in the northernmost reaches of Westeros, and the ambition of Daenerys Targaryen, the deposed king's exiled daughter, to assume the Iron Throne.</p>
<p>&nbsp;</p>
<img src="images/got2.jpg" alt="Game of Thrones" height="500" width="900">
<p>&nbsp;</p>
<p>The series is set on the fictional continents of Westeros and Essos and interweaves several plot lines with a large ensemble cast. The first narrative arc follows a dynastic conflict among competing claimants for succession to the Iron Throne of the Seven Kingdoms, with other noble families fighting for independence from it; the second covers the attempts to reclaim the throne by the exiled last scion of the realm's deposed ruling dynasty; the third chronicles the rising threat of the impending winter and the legendary creatures and fierce peoples of the North.<br />
  </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>