
<div class="new-post-block">
    <h2 id="editor-title">Edit Post</h2>
    <form id="post-form">
        <ul class="title-author">
            <li class="single-element-form">
                <h1 class="title-form">Blog Post Title:</h1>
                <input type="text" value="" placeholder="Title" id="title" disabled/>
            </li>
            <li class="single-element-form">
                <h1 class="title-form">Author:</h1>
                <input type="text" value="" placeholder="Author" id="author" disabled>
            </li>
        </ul>
        <textarea name = 'content' class="content-field" placeholder="Content" id="content"></textarea>


        <br>
        <button type="button" id="edit-article-request-button">Edit this post</button>
    </form>
</div>