<aside class="sidebar">
    <div class="logo"><img src="images/got.jpg" alt=""></div>
    <hr>
    <nav>
        <ul>
            <li class="single-menu-element">
                <a href="#/" class="single-menu-element-link">
                    Home
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/posts/create" class="single-menu-element-link">
                    Create &nbsp; Post
                </a>
            </li>

            <li class="single-menu-element">
                <a href="#/logout" class="single-menu-element-link">
                    Logout
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/thebooks" class="single-menu-element-link">
                        The &nbsp; books
                </a>
            </li>
            <li class="single-menu-element">
                <a href="#/about" class="single-menu-element-link">
                    About &nbsp; GoT
                </a>
            </li>
        </ul>

        <hr>
        <h2 class="recent-posts-title">Recent Posts</h2>
        <hr>

        <ul class="recent-posts">
        </ul>

    </nav>
</aside>
<main class="main-content">
    <header class="blog-title">
        <h3>Game &nbsp; of &nbsp; thrones &nbsp; Blog</h3>
    </header>
    <ul class="articles" id="article">
    </ul>

</main>